
#main {
	font-family: Dotum, sans-serif;
	font-size: 12px;
	position: relative;
	z-index: 20;
	max-width: 954px;
	height: 100%;
	margin: 0px auto;
}
#contain {
	position: relative;
	padding: 32px 51px 0px;
}
#content {
	height: 780px;
	line-height: 14px;
	width: 550px;
	margin: 30px auto;
	padding: 32px 29px 32px;
	border: 1px solid #dadada;
	background: #edeff0;
	border-radius: 5px;
	box-sizing: border-box;
}
.btn {
	margin-top: 20px;
	width: 400px;
	border: none;
	outline: none;
	height: 40px;
	background: #0067a3;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	width: 100%;
	border-radius: 5px;
}
.head {
	font-size: 20px;
	margin-bottom: 70px;
	text-align: center;
}
.inputtext {
	font-size: 20px;
	margin-bottom: 30px;
}
#holder {
	height: 200px;
}
.content input[type="submit"] {
	margin-top: 50px;
}
#checkMsg {
	height: 25px;
}
#table {
	height: 400px;
	border-top: 1px solid #444444;
	border-collapse: collapse;
	width: 488px;
}
#table td {
	border-bottom: 1px solid #444444;
	text-align: left;
	padding-top: 20px;
	padding-left: 5px;
	margin-right: 50px;
}
#holder {
	margin-top: 20px;
}
#path {
	width: 150px;
}
#checkbtn{
	width: 70px;
	border: none;
	outline: none;
	height: 40px;
	background: #0067a3;
	color: #fff;
	font-size: 13px;
	cursor: pointer;	
	border-radius: 5px;
}
 #nickname{
    height: 30px;
 }
.file_input label {
  position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: 127px;
    height: 30px;
    background: #0067a3;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    top: 191px;
}
.file_input label input {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
}
.secessionSpan{
	padding-top: 15px;
	text-align: center;
}
.secession{
	color : #52c052;
}

.delete-profile{
	cursor: pointer;
    position: relative;
    top: -29px;
    left: 140px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    width: 127px;
    height: 30px;
    background: #0067a3;
    color: white;
}

.profile{
	position: relative;
    top: -50px;
}
.war-message{
	font-size: 15px;
}
.lasttr{
	height: 320px;
}