
@charset "UTF-8";

/*사이드 컨텐트 + 팀목록 컨텐트 */
.wrapContent{
	width:100%;
	z-index:999;
	background: #fcfcfc;
	height : 100%;
	overflow : hidden;
	font-size: 14px;
}
/*사이드 컨텐트, 팀목록 컨텐트. 각각의 컨텐츠 공통 css */
div.smallContent{
	position : absolute;
	vertical-align: top;
}
#sideContent{
	text-align: center;
	width : 200px;
	margin : 40px;
	height : 100%;
	z-index : 1;
}
.sidemenu{
	margin : 30px 0 100px 0;
	text-align: center;
}
.sidemenu>*{
	margin : 10px 0;
}
#memberSearch{
	background : #d3d3d3;
	border : none;
	height : 30px;
}
/* 팀 목록 컨텐트*/
#listContent{
	/* font-size: 14px; */
	padding-left : 280px; 
	height: 100%;
	margin-left : 40px;
	
} 
/* 팀목록, 멤버목록 감싸는 body */
.listBoxBody{
	border-radius : 16px;
	padding : 10px 30px;
}
/* 팀리스트  y 스크롤 */
.listBoxBody::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}
/*팀 목록 작은 컨텐츠 */
#listContent>.listBoxBody{
	overflow-y: scroll;
	border: none;
	box-sizing : border-box;
}
/* 멤버 목록 (제목 + 목록) */
.memberList{
	background : #E7E7E7;
	border : 1px solid #d3d3d3;
	border-radius: 3px; 
	box-shadow: 0 2px 2px -2px #777;
}
/* 멤버 목록을 감싸는 body */
.memberList>.listBoxBody{
	margin : 20px;
}
/* 멤버 목록에 있는 제목 */
div.smallContent h3{
	padding : 20px;
	text-align: center;
	border-bottom: 1px solid #d3d3d3;
}
/* 목록 컬럼 row */
.category{
	line-height : 40px;
}
.teamCategory{
	background : #E7E7E7;
}
/* 목록 컬럼과 목록들 정렬*/
.teamCategory div, .memberCategory div, .oneListRow div{
	display:inline-block;
	padding : 0 0 0 40px;
	width : 150px;
}
.oneListRow{
	font-size: 14px;
	line-height : 40px;
}
/*모든 버튼 설정*/
input[type=button], input[type=submit]{
	background-color: #FA5883;
    margin : 10px auto; 
    border: none;
    border-radius: 5px;
    text-align: center;
}
/*멤버추가, 팀 추가 버튼 구체적 설정*/
input[type=button].addMemberBtn, .addMembersBtn, .addTeam{
    font-size: 14px;
	padding : 15px 15px;
	width: 150px;
}
/*모달 창 배경 설정*/
 .modal{
    display: none;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.596);
    z-index: 1; 
    width: 100%;
    height: 100%;
    overflow: scroll;
    border-radius: 5px;
    position: fixed;
} 
/*모달 컨텐츠 설정*/
.modalContent{
    position: relative;
    background-color: #fefefe;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    top:30%;
    width: 500px;
    height: 300px;   
}
/*모달 버튼 구체적 설정*/
.modalContent button{
	display:inline-block;
	 margin : 10px;
}
/*모달 div 구체적 설정*/
.modalContent div, .modalContent>input[type="text"]{
    padding: 5px;
    margin : 10px;
}

