/*
 * 작성자 : 김소영
 */
@charset "UTF-8";
/* Important styles */

/* 이력 메뉴 버튼 */
#toggle {
    display: block;
    position: absolute;
    float: right;
    width: 28px;
    height: 30px;
    padding: 13px 5px 0;
    top: 10px;
    right: 10px;
}
#toggle span:after, #toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after {
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}
#toggle span, #toggle span:after, #toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #0067a3;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}
/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on {
  opacity: 1;
  visibility: visible;
}
/*--------------------------------------------------------------------------*/
/* 이력 메뉴 content~~~~~ */
.board-aside {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    background-color: #e8e8e8;
    overflow-x: hidden;
    transition: 0.2s; /*열었다 닫았다 할 때*/
    color: #fff;
    z-index: 999;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 
    			0 1px 2px rgba(0,0,0,0.24);
}
/* 이력탭 content */
.nav-tabs-wrap {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; 
}
/* 이력 탭 버튼 */
.nav-tabs .nav-tab-btn {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 11pt;
    color: #616161;
    text-align: center;
    background: #b1b1b1;
     font-weight: bold;
}
/* 오른쪽 메뉴 탭 내용 */
.nav-tabs .nav-tab-content {
    position: absolute;
    left: 0;
    top: 40px;
    right: 0;
    bottom: 0;
}
/* 오른쪽 메뉴 탭 내용 content 설정*/
.tab-content-box {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 12px 18px 12px 18px;
    box-sizing: border-box;
}
/************ 이력탭 ************/
.pic-list {
	position : absolute;
}
.pic-list > li {
    position: relative; 
    margin-left: 38px;
    padding: 10px 0;
    border-top: 1px solid #3a3b3b;
    line-height: 1.5;
    color: #111;
}
/* 이력목록 > 프로필사진 */
.pic-list > li:nth-child(1) {
    border-top: none;
}
.pic-list-writer {
    position: absolute;
    left: -38px;
    top: 12px;
}
.pic-list-writer .profile img {
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
/* 이력목록 > 내용 */
.pic-list-desc {
    margin: 0 24px 0 0;
    word-wrap: break-word; /* 단어 단위로 자동 개행 */
    font-size: 12pt;
    font-weight: 400;
}
.pic-list-desc .name {
    font-weight: bold;
    margin-right: 5px;
}
/* 이력목록 > 시간날짜 */
.pic-list-datetime {
    font-size: 12px;
    color: #818181;
}
/* 더보기 링크 */
.show-more {
	display: none;
    padding: 12px 12px 12px 0;
    font-size: 12px;
    margin-left: 38px;
    color: #aaa;
}
.show-more:hover {
    color: #fff;
}