@charset "UTF-8";

/*사이드 컨텐트 + 팀목록 컨텐트 */
.wrapContent{
	width:100%;
	height: 100%;
	margin:0;
	padding:0;
	z-index:999;
	background: #fcfcfc;
	overflow: hidden;
}
/* 팀목록 제목 + 팀 멤버 검색 + 팀 추가 버튼 컨텐츠*/
.titleContent{
	padding : 60px 30px 10px 30px;
	height : 60px;
}
/* 목록 제목 + 멤버검색 + 팀추가버튼 요소*/
.titleContent > .title{
	display : inline-block;
	
}
/* 목록 제목 */
.title:nth-child(1){
	padding-left : 30px;
	font-size: 20pt;
}
/* 멤버 검색 */
.title:nth-child(2){
	position : absolute;
	left : 50%;
}
/* 팀 추가 버튼*/
.title:nth-child(3){
	float : right;
	margin-top : 6px;
	background-color: #FFA7A7;
    border: none;
    margin : 0;
}
/* 팀 목록 컨텐트*/
#listContent{
	font-size: 11pt;
	height: 100%;
} 
/* 팀목록, 멤버목록의 작은 컨텐츠 */
.listBoxBody{
/* 	border-radius : 16px; */
	padding : 10px 30px;
	height: 80%;
}
/* 팀리스트  y 스크롤 */
.listBoxBody::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}
.listBoxBody::-webkit-scrollbar-track {
    background: rgba(0,0,0,.05);
    border-radius: 3px;
}
.listBoxBody::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.1);
    border-radius: 10px;
}
/*팀 목록의 작은 컨텐츠 */
#listContent>.listBoxBody{
	overflow-y: scroll;
	border-top: 1px solid #d3d3d3;
	box-sizing : border-box;
	height : calc(100% - 215px);
}
/* 멤버 목록 (제목 + 목록) */
.memberList{
	background : #E7E7E7;
	border : 1px solid #d3d3d3;
	border-radius: 3px; 
	box-shadow: 0 2px 2px -2px #777;
}
/* 멤버 목록의 작은 컨텐츠 */
.memberList>.listBoxBody{
	margin : 20px;
}
/* 멤버목록의 작은 컨텐츠의 제목들 */
.memberList h3{
	padding : 20px;
	text-align: center;
}
/* 목록 컬럼 row */
.category{
	line-height : 40px;
}
/* 팀 목록 컬럼*/
.teamCategory{
	background : #FFA7A7;
	padding-left : 65px;
}
/* 멤버 목록 컬럼 */
.memberCategory{
	background: #d3d3d3;
}
/* 팀, 멤버의 목록 컬럼과 목록들 정렬*/
.teamCategory div, .memberCategory div, .oneListRow div{
	display:inline-block;
	padding : 0 0 0 40px;
	width : 150px;
}
/* 팀, 멤버 목록 한줄 한줄 */
.oneListRow{
	padding : 15px 30px 15px 0;
	font-size: 11pt;
	line-height : 40px;
}
/*멤버 추가 컨탠츠*/
div.sidemenu{
	 text-align: center;
}
div.sidemenu div{
	display : inline-block;
}
/*멤버추가, 팀 추가 버튼 구체적 설정*/
input[type=button].addMemberBtn, .addTeam{
    font-size: 11pt;
	padding : 15px 15px;
	width: 200px;
}
/*검색 텍스트 요소*/
#memberSearch{
    border: none;
    background-color: #FFA7A7;
    height: 36px;
    width: 250px;
    margin : 10px 0;
    vertical-align: middle;
    
}
/*모든 버튼 설정*/
input[type=button], input[type=submit]{
	background-color: #FFA7A7;
    margin : 10px auto; 
    border: none;
}
/*모달 창 배경 설정*/
 .modal{
    display: none;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.596);
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: fixed;
    z-index: 2; 
} 
/*모달 컨텐츠 설정*/
.modalContent{
    position: relative;
    background-color: #fefefe;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    top:30%;
    width: 500px;
    height: 300px;   
}
/*모달 버튼 구체적 설정*/
.modalContent button{
	display:inline-block;
	 margin : 10px;
}
/*모달 div 구체적 설정*/
.modalContent div, .modalContent input[type="text"]{
    padding: 5px;
    margin : 10px;
}

