@charset "UTF-8";

/*사이드 컨텐트 + 팀목록 컨텐트 */
.wrap-content{
	width:100%;
	height: 100%;
	margin:0;
	padding:0;
	z-index:999;
	background: #fcfcfc;
	overflow: hidden;
}
/* 팀목록 제목 + 팀 멤버 검색 + 팀 추가 버튼 컨텐츠*/
.title-content{
	padding : 60px 30px 10px 30px;
	height : 60px;
}
/* 목록 제목 + 멤버검색 + 팀추가버튼 요소*/
.title-content > .title{
	display : inline-block;
}
h5.title{
	margin : 20px;
}
/* 목록 제목 */
.title:nth-child(1){
	padding-left : 30px;
	font-size: 20pt;
	text-align : center;
}
/* 멤버 검색 */
.title:nth-child(2){
	position : absolute;
	left : 50%;
	top : 50px;
}
/* 팀 추가 버튼*/
.title:nth-child(3){
	float : right;
	margin-top : 6px;
	background-color: #FFA7A7;
    border: none;
    margin : 0;
}
/* 팀 목록 컨텐트*/
#list-content{
	font-size: 11pt;
	height: 100%;
} 
/* 팀목록, 멤버목록의 작은 컨텐츠 */
.list-box-body{
	padding : 10px 30px;
	height: 80%;
}
/* 팀리스트  y 스크롤 */
.list-box-body::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}
.list-box-body::-webkit-scrollbar-track {
    background: rgba(0,0,0,.05);
    border-radius: 3px;
}
.list-box-body::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.1);
    border-radius: 10px;
}
/*팀 목록의 작은 컨텐츠 */
#list-content>.list-box-body{
	overflow-y: scroll;
	border-top: 1px solid #d3d3d3;
	box-sizing : border-box;
	height : calc(100% - 215px);
}
/* 멤버 목록 (제목 + 목록) */
.member-list{
	background : #f1f4f7;
	border : 1px solid #d3d3d3;
	border-radius: 3px; 
	box-shadow: 0 2px 2px -2px #777;
}
/* 멤버 목록의 작은 컨텐츠 */
.member-list>.list-box-body{
	margin : 20px;
}
/* 멤버목록의 작은 컨텐츠의 제목들 */
.member-list h3{
	padding : 20px;
	text-align: center;
}
/* 목록 컬럼 row */
.category{
	line-height : 40px;
}
/* 팀 목록 컬럼*/
.team-category{
	background : #4e97c2;
	padding-left : 65px;
	color : #f0f0f0;
}
/* 멤버 목록 컬럼 */
.member-category{
	background: #4e97c2;
}
/* 팀, 멤버의 목록 컬럼과 목록들 정렬*/
.team-category div, .member-category div, .one-list-row div{
	display:inline-block;
	padding : 0 0 0 40px;
	width : 200px;
}
/* 팀, 멤버 목록 한줄 한줄 */
.one-list-row{
	padding : 15px 30px 15px 0;
	font-size: 11pt;
	line-height : 40px;
	border : 1px solid #c4c9cc;
}
/*멤버 추가 컨탠츠*/
div.side-menu{
	 text-align: center;
	 margin : 20px;
}
div.side-menu *{
	margin : 20px;
} 
/*검색 텍스트 요소*/
input[type="text"]#member-search{
    border: 3px solid #4e97c2;
    background-color: #fcfcfc;
    height: 36px;
    width: 250px;
    margin : 10px 0;
    vertical-align: middle; 
}
/*모든 버튼 설정*/
div#list-content input[type=button], input[type=submit]{
	background-color: #f0f0f0;
	border : none;
    border-bottom: 1px solid #ccc;
    color : #777;
    box-shadow : 0px 0px 0px 0px #B8B8B8;
    width : 100px;
    height: 40px;
    font-weight: bold;
}
/*모달 창 배경 설정*/
 .modal{
    display: none;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.596);
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: fixed;
    z-index: 2; 
    font-size: 10pt;
} 
/*모달 컨텐츠 설정*/
.modal-content{
    position: relative;
    background-color: #fefefe;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    line-height : 30px;
    top:30%;
    width: 320px;
    height: 280px;   
}
/*모달 버튼 구체적 설정*/
.modal-content input[type="button"]{
	background-color: #a1a1a1;
	border : none;
    border-bottom: 1px solid #ccc;
    color : #fff;
    box-shadow : 0px 0px 0px 0px #B8B8B8;
    width : 100px;
    height: 40px;
    font-weight: bold;
	display:inline-block;
	 margin : 10px;
}
/*모달 div 구체적 설정*/
.modal-content div, .modal-content input[type="text"]{
    padding: 5px;
    margin : 10px;
}
input:focus, input[type="submit"]:focus, input[type="button"]:focus{
	outline : none;
}