@charset "utf-8";
 
/* 프로젝트 */
.content.project {
    min-width: 100%;
    margin-left: 0px;
    overflow-y: auto;
}
.projectBox {
    padding: 30px 15px 0 15px;
    margin: 0 10px;
}
/* 프로젝트 팀 정보 */
.teamInfo {
    padding: 0 15px 5px 0;
    line-height: 30px;
}
.teamInfo .fa-users {
    font-size: 22px;
    color: #aaa;
    vertical-align: top;
    margin-top: 4px;
}
.teamInfo .title {
    font-size: 16px;
    font-weight: bold;
    vertical-align: top;
    margin-left: 10px;
}
.teamMembers {
    display: inline;
    margin-left: 10px;
}
.teamMembers li {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.teamMembers li img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.teamMembers li .tooltip {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
    padding: 0 10px;
    position: absolute;
    z-index: 1000; /* 테스트 후 값 조정 */
    bottom: 125%;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s;
}
.teamMembers li .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.teamMembers li:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
/* 프로젝트 목록 */
.projects li {
    box-sizing: border-box;
    list-style: none;
    float: left;
    width: 25%;
    height: 115px;
    padding: 0 15px 15px 0;
}
.projects li a {
    text-decoration: none;
    display: block;
    height: 100%;
    border-radius: 3px;
    background-color: #777;
}
.projects li a:hover {
    background-color: #555;
}
.projects li .name {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 10px 15px 0 10px;
}
/* 프로젝트 추가버튼 */
.addProject {
    box-sizing: border-box;
    display: inline-block;
    width: 25%;
    height: 115px;
    padding: 0 15px 15px 0;
}
.addProject:after {
    display: block;
    content: "";
    clear: both;
}
.createProjectBtn {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 100px;
    border: none;
    border-radius: 3px;
    text-align: center;
    color: #838CA7;
    background-color: #E2E4E6;
    cursor: pointer;
}
.createProjectBtn:hover {
    color: #4D4D4D;
    background-color: #D6DADC;
}
/* 프로젝트 생성 모달창 */
.project-modal {
    display: none;
    position: fixed;
    z-index: 1001; /* 테스트 후 값 조정 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}
.project-modal.is-visible {
    display: block;
}
.createProjectBox {
    position: relative;
    box-sizing: border-box;
    width: 360px;
    background: #fff;
    border-radius: 4px;
    padding: 20px 45px 20px 20px;
    margin: 100px auto 0 auto;
}
.registProjectBtn {
    width: 50%;
    font-weight: bold;
    color: #fff;
    background-color:#FA5883;
    border: 1px solid #fc4d7c;
    padding: 10px 0;
    margin-top: 15px;
}
.registProjectBtn.disabled {
    color: #b6bbbf;
    background-color: #e4e4e4;
    border: 1px solid #b6bbbf;
}
.projectNameInput {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.createProjectBox .closeBtn {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 23px;
    cursor: pointer;
}
.createProjectBox .fa-times {
    font-size: 24px;
    color: #aaa;
    padding: 5px;
}
.hidden-txt {
    display: block;
    position: absolute;
    top: 0;
    direction: ltr;
    text-indent: -999em;    
    overflow: hidden;
}

/* 카드목록 내 y 스크롤 */
.content::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}
.content::-webkit-scrollbar-track {
    background: rgba(0,0,0,.05);
    border-radius: 3px;
}
.content::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.1);
    border-radius: 10px;
}
.tid,.uid{
	display: none;
}


