@charset "UTF-8";


/* 메뉴 전체 */
.my-aside {
	display: flex;
    height: 232px;
    position: absolute;
    top: 50px; /*헤더 높이만큼 띄움*/
    right: 6px;
    bottom: 0;
    border-radius: 3px;
    background-color: #f1f4f7;
    overflow-x: hidden;
    transition: 0.2s; /*열었다 닫았다 할 때*/
    color: #fff;
    z-index: 7777;
    overflow-y: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 
    			0 6px 6px rgba(0,0,0,0.23);
}
/* 닫기버튼 */
.my-aside-close {
    position: absolute;
    margin: 0 9px;
	color: #afafaf;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 7778;
}
.my-aside-close:hover {
	color: black;
}
.my-aside.is-hidden {
	display: none;
}
/* 상단 닉네임/이메일/프로필 전체영역 */
.my-aside-info {
	width: 208px;
    padding: 12px 0 16px 0;
    margin: 12px 8px 2px 8px;
}
/* 닉네임/이메일 영역 */
.my-aside-info-text {
    position: relative;
    text-align: center;
}
.my-aside-info-text > p {
	text-align: center;
    font-size: 18px;
    color: black;
}
/* 프로필 영역 */
.my-aside-info-img {
    position: relative;
    text-align: center;
}
.my-aside-info-img > img {
    width: 130px;
    margin: 14px;
    height: 135px;
}
/* 메뉴 영역 */
.my-aside-menu {
	width: 233px;
}
/* 각각의 메뉴들 */
.setting-menu a {
    border-bottom: solid 1px #cbcdce;
    color: #818181;
    font-size: 18px;
    padding: 15px 10px 10px 10px;
    display: block;
}
.setting-menu a:hover {
    background-color: #cbcdce;
}
/* 첫번째 메뉴 */
.setting-menu.team-modify {
	margin-top: 6px;
}
/* close board 목록에 대한 추가사항 */
.list-modal{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    /* 모달창 옆에 백그라운드 농도  */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/ opacity */
    z-index: 9999;
    /*overflow-y: auto;*/
  
    display: none;
    transition: opacity 0.3s 0, visibility 0 0.3s;
}

.list-modal.is-visible {
    display: block;
}

/*종료 프로젝트 컨텐츠 박스  */
.list-content{
 	position: relative;
    height: auto;
    box-sizing: border-box;
    width: 650px;
    background: #edeff0;
    border-radius: 4px;
    padding: 20px 45px 20px 20px;
    margin: 250px auto 0 auto;

}
/* 프로젝트가 아무것도 없을때 css */
.no-project{
	border: 1px dashed #c4c9cc;
	height: 30px;
	background: #e2e4e6;
	text-align: center;
	padding-top: 10px;
	margin-top: 20px;
}
/* 종료프로젝리트 리스트 */
.list-li a{
	font-size: 20px;
}
/* 종료프로젝리트 리스트 */
.list-li{
	border-bottom: 1px solid #d6dadc;
	height: 40px;
	padding-top: 30px;
}
.option{
	float: right;
	height: 40px;
}
/* 리로드 삭제 버튼*/
.preload,.pdelete{
	background: #e2e4e6;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 32px;
    margin-top: 8px;
    max-width: 300px;
    overflow: hidden;
    padding: 7px 7px 7px 11px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    float: left;
    margin: 0 0 0 4px;
    }
    
 /* 삭제 버튼 */
.pdelete{
    border-color: #eb5a46;
    border-bottom-color: #b04632;
    color: #fff;
    background: #eb5a46;
}