@charset "UTF-8";

/* 모든 textarea에 파란색 테두리 없애기 */
textarea:focus {
    outline: none;
}


/* 헤더, 양쪽메뉴 제외한 본문영역 중 상단 프로젝트 타이틀 영역 */
.projectTitle > input {
	width: 400px;
    height: 40px;
    padding-left: 10px;
    color: #484848;
    border: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    background-color: #b0b0b0;
}
.projectTitle > input:focus{
	outline: none;
}
/* 본문영역 중 프로젝트 타이틀을 제외한 영역 */
.cardlistContent {
    display: flex; 
    height: calc(100% - 45px); /* 상단 프로젝트 타이틀과 하단 스크롤 영역을 제외한 높이 */
    line-height: 1.3em; /* 가변단위. 1em은 현재 폰트크기임. */
}

/* 전체 카드리스트의 실질적 영역 */
.cardlists {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden; /* 가로스크롤만 생기도록 */
}
.cardlists > * {
    flex: 0 0 auto;
}
/* 스크롤 디자인~ */
::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,.05);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.1);
    border-radius: 10px;
}/* ~스크롤디자인 */

/* 동적으로 생성되는 각각의 카드리스트 */
.cardlist {
    width: 236px;
    height: 100%;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    border-radius: 2px;
}
/* 카드리스트의 자식 전체에 공통으로 적용되는 속성들 */
.cardlist > * {
    background-color: #e2e4e6;
    color: #333;
    padding: 0 10px;
}

/* 카드리스트의 상단 | textarea + more버튼 */
.cardlistTitleBox {
	position: relative;
	width: 196px;
	padding: 10px 30px 5px 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
/* 카드리스트의 상단 | textarea */
textarea.cardlistTitle {
	resize: none; /* 사용자가 임의로 크기를 조절할 수 없게 함 */
	width: 100%;
	padding: 0;
    border: none;
	border-radius: 0;
	background-color: #e2e4e6;
    color: #484848;
    font-size: 14px;
    font-weight: bold;
    line-height: 165%;
	box-sizing: border-box;
	overflow-y: hidden; /* 가끔 스크롤 짧게 잡혀서 추가 */
}
/* 카드리스트의 상단 | more버튼(팝업) */
.cardlistPopBtn {
	display: block;
	position: absolute;
	right: 5px;
	top: 10px;
	padding: 0;
	border: none;
	outline: none;
}
/* 카드리스트의 상단 | more버튼의 ... 이미지 */
.cardlistPopBtn > img{
	width: 15px;
	padding: 3px;
	background-color: #e2e4e6;
}
.cardlistPopBtn > img:hover{
	background-color: #CDD2D4;
	border-radius: 3px;
}

/* 카드리스트의 하단 | (Add a card...상자) */
.createCardBox {
	display: block;
    height: 40px;
    line-height: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #656565;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.createCardBox:hover {
    background-color: #d4d4d4;
}
/* 카드리스트의 하단 | 카드 추가영역(textarea + add버튼) */
.addCard{
	display: none;
    padding-bottom: 5px;
}
/* 카드리스트 하단 | textarea */
#createCardTextarea{
	width: calc(100% - 20px);
	height: 38px;
	padding: 10px;
	border: 0;
	border-radius: 3px;
    box-shadow: -1px -1px 1px 0px rgba(0, 0, 0, 0.2) inset; /* 음영효과 */
}

/* 카드리스트의 가운데영역 | 각각의 카드가 추가되는 영역 */
.cards {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto; /* 세로스크롤만 생기도록 */
}
/* 동적으로 추가되는 각각의 카드 */
.cardtitleLi{
    display: block;
	position: relative; /* 수정버튼에 position: absolute; 주기 위해 */
    margin-top: 3px;
    background-color: #fff;
    border-radius: 3px;
	color: #5e5e5e;
    font-size: 11pt;
    word-break: break-word; /*width 값에 맞춰 강제줄바꿈*/
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); /* 음영효과 */
}
.cardtitleLi:hover{
	background-color: #edeff0;
}
.cardtitleLi:not(:last-child) { /* 마지막 카드만 빼고 적용 */
    margin-bottom: 7px;
}
/* 제목수정 버튼 */
.cardModifyBtn {
	display: none; 
    position: absolute;
    top: 4px;
    right: 4px;
    width: 22px;
    height: 22px;
    border: none;
    border-radius: 2px;
    background-color: #edeff0;
    opacity: 0.2;
    font-size: 11px;
    cursor: pointer;
}
.cardModifyBtn:hover {
    background-color: #b6b6b6;
    opacity: 0.4;
    border-radius: 2px;
} 
/* 카드에 마우스를 올리면 수정버튼 보이게 */
.cardtitleLi:hover > .cardModifyBtn{
	display: block;
}
/* 카드 제목수정버튼, 카드 제목수정 저장버튼 */
.cardModifyBtn:focus, .saveBtn:focus {
    outline: none;
}

/* .cardtitleLi의 첫번째 자식 | 실제 카드가 클릭되는 영역 */
#cardLink{
	padding: 6px;
}


/* 카드 추가 버튼, 리스트 추가 버튼 */
#addBtn, #listAddBtn {
    margin: 4px 0 0 2px;
    padding: 7px 10px 7px 10px;
    border: none;
    border-radius: 3px;
    background-color: #5aac44;
    color: white;
    font-size: 14px;
    text-align: center;
    transition: 0.3s;
}
#addBtn:hover, #listAddBtn:hover {
    background-color: #519839;
}
/* 카드 추가 취소 버튼, 카드 리스트 추가 취소 버튼 */
#cancleBtn, #listCancleBtn {
    padding: 3px;
    border: none;
    background-color: none;
    opacity: 0.6;
    color: dimgray;
    font-size: 18px;
    text-align: center;
    outline: none;
}

	
/* 카드 수정모달창 뒷배경 */
.modifyModal {
    display: none; /* 기본값: 숨김 */
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; /* 모달 뒷배경이 화면에 꽉차도록 */
    height: 100%; /* 모달 뒷배경이 화면에 꽉차도록 */
    background-color: rgb(0,0,0); /* 모달 뒷배경색 */
    background-color: rgba(0,0,0,0.4); /* 모달 뒷배경 opacity */
    z-index: 3; 
}
/* 카드 제목 수정시 카드id 담기 위해(화면출력X) */
.modifyModal-title{
	display: none;
}
/* 카드 제목 수정 모달 (textarea + button영역) */
.modifyModal-content {
    width: 202px;
    height: 80px;
    float: left;
    position: relative; /*수정란을 원하는 위치로 이동시킬 수 있도록*/
}
/* 제목수정 textarea, 카드리스트 추가 textarea */
#modifyTextarea, #createListTextarea {
	height: 38px;
	resize:none; 
}
#modifyTextarea {
    width: 211px;
    border-radius: 3px;
}
#createListTextarea{
	width: 190px;
	padding: 10px;
	border: 0;
    box-shadow: -1px -1px 1px 0px rgba(0, 0, 0, 0.2) inset;
}
/* 카드제목 수정 저장버튼 */
.saveBtn {
    padding: 7px 10px 7px 10px;
    margin: 4px 1px;
    border: none;
    border-radius: 3px;
    background-color: #5aac44;
    color: white;
    font-size: 14px;
    text-align: center;
    transition: 0.3s;
}
.saveBtn:hover {
    background-color: #519839;
}
/* 모달 닫힘버튼(X) */
.closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closeModal:hover, .closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
			
			
/* 카드 등록시에 add버튼에 걸리는 이벤트에 대한 CSS처리 */
/* Add a card...상자 숨길 때 */
.createCardBox.hidden{
	display: none;
	max-height: calc(100% - 26px - 45px - 20px);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
/* 카드 등록영역 출력할 때 */
.addCard.show{
	display: block;
}
/* 카드리스트 가운데 카드영역 길이 조절 */
.cards.show{
	max-height: calc(100% - 71px)!important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
/* 카드리스트 가운데 카드영역 길이 조절 */
.cards.showLong{
	max-height: calc(100% - 49px)!important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}



/* 카드리스트의 제일 끝 Add a list...상자 */
.addList {
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    margin-right: 10px;
    background-color: rgba(121, 121, 121, 0.60);
    color: #dadada;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.addList:hover {
    background-color: rgba(121, 121, 121, 0.95);
}
.cardlistCreateBox{
	display: none;
	width: 209px;
	height: 89px;
	padding: 8px;
	border-radius: 3px;
}


/* 카드리스트 팝업 */
.popupMenuWrap {
    display: none;
    position: absolute;
    width: 150px;
    z-index: 100;
}
.popupMenuWrap.is-visible {
    display: block;
}
/* 카드리스트 팝업 제목 */
.popupMenuHeader {
    position: relative;
    height: 30px;
    line-height: 30px;
    border: 1px solid #838c91;
    border-bottom: none;
    background-color: #fff;
}
.popupMenuHeader .title {
    font-size: 16px;
    text-align: center;
    margin: 0 10px;
    border-bottom: 1px solid #d6dadc;
}
/* 카드리스트 팝업 닫기버튼 */
.popupMenuCloseBtn {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border: none;
    background: none;
    cursor: pointer;
}
/* 카드리스트 팝업 메뉴 목록 */
.popupMenuContent {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #838c91;
    border-top: none;
    background-color: #fff;
}
.popupMenuList li {
    list-style: none;
}
.popupMenuList li a {
    display: block;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 0 -10px;
    color: #838c91;
}
.popupMenuList li a:hover {
    background-color: #bacad3;
    color: #111;
}