@charset "UTF-8";

.cardlistContent {
    line-height: 1.3em;
    display: flex;
    overflow-x: hidden;
    height: calc(100% - 45px);
}
.projectTitle {
    font-size: 18px;
    height: 40px;
    line-height: 35px;
    padding-left: 20px;
    color: #484848;
}
.cardlists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    min-width: 100%;
}
.cardlists > * {
    flex: 0 0 auto;
}

/* 카드목록 내 y 스크롤 */
::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,.05);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.1);
    border-radius: 10px;
}

.cardlist {
    width: 236px;
    height: 100%;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    border-radius: 2px;
}
.cardlist > * {
    background-color: #e2e4e6;
    color: #333;
    padding: 0 10px;
}
.cardlistTitle {
	resize: none;
	width: 216px;
	height: 23px;
    padding: 10px 10px 5px 10px;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #484848;
    font-size: 14px;
    font-weight: bold;
    line-height: 165%;
}
.createCardBox {
	display: block;
    height: 40px;
    line-height: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #656565;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.createCardBox:hover {
    background-color: #d4d4d4;
}

.addCard{
	display: none;
    padding-bottom: 5px;
}

.cards {
    list-style: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.cards{

}
.cardtitleLi{
    display: block;
	position: relative; /*수정버튼 position: absolute;로 오른쪽 고정하기 위해*/
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #fff;
    border-radius: 3px;
	color: #5e5e5e;
    font-size: 11pt;
    word-break: break-word; /*width 값에 맞춰 강제줄바꿈*/
    cursor: pointer;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.cardtitleLi:hover{
	background-color: #edeff0;
}
/* 카드 목록에 마우스를 올리면 button태그 보이게 */
.cardtitleLi:hover button{
	display: block;
}
.cardtitleLi img {
    display: block;
    width: calc(100% + 2 * 10px);
    margin: -10px 0 10px -10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.cardtitleLi:not(:last-child) {
    margin-bottom: 7px;
}
#cardLink{
	padding: 6px;
}

/* Add a list... */
.addList {
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    color: #dadada;
    font-size: 14px;
    font-weight: 400;
    background-color: rgba(121, 121, 121, 0.60);
    cursor: pointer;
}
.addList:hover {
    background-color: rgba(121, 121, 121, 0.95);
}
.create{
	display: none;
	width: 209px;
	height: 89px;
	padding: 8px;
	border-radius: 3px;
}
	
textarea {
    border-radius: 2px;
    border: 0px;
}
/* 파란색 테두리 없애기 */
textarea:focus {
    outline: none;
}

#createCardTextarea{
	width: calc(100% - 20px);
	height: 38px;
	padding: 10px;
	border-radius: 3px;
	-webkit-box-shadow: -1px -1px 1px 0px rgba(0, 0, 0, 0.2) inset;
    box-shadow: -1px -1px 1px 0px rgba(0, 0, 0, 0.2) inset;
}
/* 카드 추가 버튼, 리스트 추가 버튼 */
#addBtn, #listAddBtn {
    background-color: #5aac44;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 7px 10px 7px 10px;
    text-align: center;
    font-size: 14px;
    margin: 4px 0 0 2px;
    transition: 0.3s;
}
#addBtn:hover, #listAddBtn:hover {
    background-color: #519839;
}
/* 카드 추가 취소 버튼, 카드 리스트 추가 취소 버튼 */
#cancleBtn, #listCancleBtn {
    background-color: none;
    border: none;
    color: dimgray;
    padding: 3px;
    text-align: center;
    font-size: 18px;
    opacity: 0.6;
    outline: none;
}
/* 카드 목록의 제목수정 버튼 */
.cardModifyBtn {
	display: none; 
    height: 22px;
    width: 22px;
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;
    background-color: #edeff0;
    opacity: 0.2;
    border-radius: 2px;
    cursor: pointer;
    font-size: 11px;
}
.cardModifyBtn:hover {
    background-color: #b6b6b6;
    opacity: 0.4;
    border-radius: 2px;
} 
.cardModifyBtn:focus {
    outline: none;
}
	
/* 모달창 뒷배경 */
.modifyModal {
    display: none; /* 기본값: 숨김 */
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; /* 모달 뒷배경이 화면에 꽉차도록 */
    height: 100%; /* 모달 뒷배경이 화면에 꽉차도록 */
    background-color: rgb(0,0,0); /* 모달 뒷배경색 */
    background-color: rgba(0,0,0,0.4); /* 모달 뒷배경 opacity */
    z-index: 3; 
}
.modifyModal-title{
	display: none;
}
/* 모달창 수정입력란 */
.modifyModal-content {
    width: 202px;
    height: 80px;
    float: left;
    position: relative; /*수정란을 원하는 위치로 이동시킬 수 있도록*/
}
#modifyTextarea, #createListTextarea {
	height: 38px;
	resize:none; 
}
#modifyTextarea {
    width: 211px;
}
#createListTextarea{
	width: 190px;
	padding: 10px;
	-webkit-box-shadow: -1px -1px 1px 0px rgba(0, 0, 0, 0.2) inset;
    box-shadow: -1px -1px 1px 0px rgba(0, 0, 0, 0.2) inset;
    cursor: pointer;
}
.saveBtn {
    background-color: #5aac44;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 7px 10px 7px 10px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    transition: 0.3s;
}
.saveBtn:hover {
    background-color: #519839;
}
.saveBtn:focus{
	outline: none;
}
	
/* 모달 닫힘버튼(X) */
.closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closeModal:hover, .closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
			
/* 카드 등록시에 add버튼에 걸리는 이벤트에 대한 CSS처리 */
.createCardBox.hidden{
	display: none;
	max-height: calc(100% - 26px - 45px - 20px);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.addCard.show{
	display: block;
}
.cards.show{
	max-height: calc(100% - 71px)!important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


.cardlistTitleBox {
	position: relative;
	width: 196px;
	padding: 10px 30px 5px 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
textarea.cardlistTitle {
	width: 100%;
	padding: 0;
	border-radius: 0;
	background-color: #e2e4e6;
	box-sizing: border-box;
}
.cardlistPopBtn {
	display: block;
	position: absolute;
	right: 5px;
	top: 10px;
	padding: 0;
	border: none;
}
.fa-ellipsis-h {
	font-size: 15px;
	color: #838C91;
	background-color: #e2e4e6;
	border-radius: 3px;
	padding: 5px;
}
.cardlistPopBtn:hover .fa-ellipsis-h {
	color: #737475;
	background: #CDD2D4;
}
.replacement {
	display: block;
	position: absolute;
	top: 0;
	direction: ltr;
	text-indent: -999em;    
	overflow: hidden;
}
	