@charset "UTF-8";

.uploadedList {
	margin-left: 10px;
}
.attachLi {
	position: relative;
	min-height: 80px;
	margin: 0 0 8px;
	font-size: 15px;
}

/* Drag & drop box */
.attach-content {
	width: 547px;
	height: 35px;
    padding: 10px;
    margin: 10px 10px 20px 10px;
	border: 2px dashed gray;
	border-radius: 3px;
	text-align: center;
}
.attach-content > p, .chooseFile {
	display: inline-block;
	color: #737373;
	font-size: 14px;
	line-height: 35px;
}
.chooseFile {
	margin-left: 4px;
	text-decoration: underline;
	cursor: pointer;
}
.upfileInput {
	display: none;
}
.attach-content > p > a:hover {
	color: black;
}

.attachThumbnail{
	display: inline-block;
	width: 108px;
	height: 78px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 
	 			0 1px 2px rgba(0,0,0,0.24);
}
.attachThumbnail > a > img {
	width: 108px;
	height: 78px;
	object-fit: contain;
}
.attachInfo{
	display: inline-block;
	position: absolute;
	margin: 5px 0 0 10px;
}
.attachInfo > *{
	color: #737373;
	margin-bottom: 5px;
}
.fileName {
	color: black;
}
.uploadDate {
	font-size: 14px;
}
.fileSize {
	float: left;
}
/* 삭제 버튼 */
.attachDeleteBtn {
	float: left;
    padding: 0;
    margin-left: 10px;
    border: none;
    background-color: #edeff0;
    text-decoration: underline;
    cursor: pointer;
}
.attachDeleteBtn:focus{
	outline: none;
}
.attachThumbnail > a > p {
	text-align: center;
    line-height: 75px;
    font-size: 21px;
    color: #848484;
    font-weight: bold;
}

.imgModal{
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    z-index: 9998;
    overflow-y: auto;
}
.closeModal.imageModal{
	display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 11px;
    font-size: 40px;
	z-index: 9999;
}
.imgModal > img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; 
    max-width: 100%; /* 원본 이미지 최대 가로 길이가 창 화면을 넘지 않도록 */
}
.imgModal > p {
    margin: 30px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.fileSizeWarning > span {
    position: fixed;
    top: 82px;
    right: 10px;
    padding: 3px;
	color: white;
	font-size: 16px;
    font-weight: bold;
    background-color: #eb5a46;
    z-index: 9999;
}
