@charset "UTF-8";

	
.popupCard ul{
    list-style: none;
}
.popupCard header {
	float: left;
	margin-bottom: 10px;
}
.popupCard section {
    float: left;
    width: 600px;
}
.popupCard article:not(:nth-child(1)) {
    margin-top: 30px;
}
/* 팝업화면 | 화면 전체 */
#popupBox {
display: none;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%; 
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
overflow: auto;
z-index: 9997;
}
/* 팝업화면 | 카드 전체 */
.popupCard {
    position: relative;
    width: 593px;
    left: 50%;
    margin-left: -370px;
    margin-top: 50px; /* 헤더 높이만큼..(-)*/
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 4px;
    background: #fff;
    background-color: rgb(237, 239, 240);
}
.popupCard:after {
    display: block;
    content: "";
    clear: both;
}
/* 카드모달창 상단 상태 bar */
.popCard-banner{
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    z-index: 7777;
}
.popCard-banner:after {
    content: "";
    position: absolute;
    width: 780px;
    height: 50px;
    background-image: url("http://www.designbolts.com/wp-content/uploads/2012/11/Pinstriped-Suit-diagonal-Seamless-photoshop-Pattern.jpg");
    opacity: 0.4;
    z-index: -1;
}
/* 카드모달창 상단 상태 bar | 문구 */
.popCard-banner > p {
    padding: 9px 9px 9px 15px;
    position: absolute;
    width: 750px;
    color: #000000b0;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
}
.popupCard-aside-sendToCardlist{
	display: none;
}


/* changeStatus - 카드 상태값에 따라 속성값 
	제어하기 위해 script에서 부여하는 class이름임 */
.changeStatus{
    display: block;
}
/* 카드모달창 상단 상태bar 출력 시 전체 카드모달창 padding 조절 */
.popupCard.changeStatus{
    padding: 70px 20px 20px 20px;
}
/* 카드 상태값에 따라 aside 제어 */
.popupCard-aside-archive.changeStatus,
.popupCard-aside-hide.changeStatus{ 
	display: none;
}
	
	
/* 헤더부분 ~~~~~ */
.cardTitle {
    font-size: 17px;
}
.cardTitle > span {
	display: inline-block;
    padding: 3px 5px;
    float: left;
}
.fa-credit-card {
	height: 1.4em;
	padding-bottom: 5px;
}
.title-cardTitle {
    display: inline-block;
    margin-left: 5px;
}
.title-cardTitle input{
	float: left;
	width: 518px;
	padding: 4px;
	background: #fff;
    background-color: rgb(237, 239, 240);
	border: none;
	border-radius: 3px;
    font-size: 20px;
    font-weight: bold;
}
.title-cardTitle input:focus{
	outline: none;
	background: #e7e7e7;
	box-shadow: inset 0px 0px 9px -2px #808080;
    -webkit-box-shadow: inset 0px 0px 9px -2px #808080;
    -moz-box-shadow: inset 0px 0px 9px -2px #808080;
    -o-box-shadow: inset 0px 0px 9px -2px #808080;
}
.popCardMenu {
	float: right;
    padding: 3px;
    color: #353535;
    font-size: 25px;
    cursor: pointer;
}
.popCardMenu:hover {
	background-color: #c7c7c7;
	border-radius: 1px;
}
.popCardMenuIcon {
	width: 26px;
}
.title-cardTitle p{
	display: none;
}
.title-attach.title{
	margin-bottom: 15px;	
}
.popupCardUserInfo {
	display: inline-block;
    float: left;
	margin-bottom: 17px;
}
.popupCardProfile > img {
	width: 25px;
	height: 25px;
}
.popupCardUserInfo > p, .popupCardProfile {
	display: inline-block;
	color: #9c9c9c;
	font-size: 16px;
}
/* ~~~~~ 헤더부분 */
	
/* 카드창 닫기버튼 */
.popupCardClose {
    position: relative;
    float: left;
    color: gray;
    bottom: 10px;
    text-decoration: none;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
    z-index: 8888;
}
.popupCardClose:hover {
	color: #000000;
}
	
/* 왼쪽 | 카드 실제 내용 부분 */

/* 각 항목의 Title */
.title strong {
    display: inline-block;
    margin-left: 10px;
}
/* 카드 내용~~~~~ */
.cardContent {
    display: inline-block;
}
.content-content {
    display: inline-block;
    padding: 2px;
}
.content-content > div {
    position: absolute;
    width: 100%;
    top: 378px;
    left: 0;
	height: 100px;
    background: linear-gradient(rgba(255, 255, 255, 0.21), #edeff0);
}
.content-textarea {
    width: 551px;
    margin: 5px 10px 0 10px;
    padding: 10px;
    font-size: 15px;
    border: none;
    resize: none;
    cursor: pointer;
    overflow: visible;
    overflow-y: hidden;
    outline: none;
    background-color: #edeff0;
}
.content-textarea:focus {
    border-radius: 3px;
	background: #e7e7e7;
    box-shadow: inset 0px 0px 9px -2px #808080;
    -webkit-box-shadow: inset 0px 0px 9px -2px #808080;
    -moz-box-shadow: inset 0px 0px 9px -2px #808080;
    -o-box-shadow: inset 0px 0px 9px -2px #808080;
    cursor: text;
}
.content-textarea:disabled{
	cursor: default;
}
/* 내용 read more 버튼 */
.readMore {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: #edeff0;
    border: none;
    color: #808080;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
}
.warning {
    display: none;
    width: 560px;
}
.warning li {
    float: left;
    margin: 0 0 10px 9px;
    padding: 3px;
	font-size: 15px;
    color: gray;
	background: #fff;
    background-color: rgb(237, 239, 240);
}
.warning li:not(:nth-child(1)){
    text-decoration: underline;
    cursor: pointer;
}
.content-Btn {
    margin-left: 10px;
    display: none;
}
.saveBtn {
    background-color: #5aac44;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 7px 10px 7px 10px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    transition: 0.3s;
}
	
.saveBtn:hover {
    background-color: #519839;
}
.warningUL > .saveBtn.description:hover {
	background-color: #edeff0!important;
}
	
.cancelBtn {
    position: absolute;
    float: left;
    padding: 0px 8px;
    margin-top: 2px;
    background: #fff;
    background-color: rgb(237, 239, 240);
    border: none;
    color: dimgray;
    font-size: 34px;
    text-align: center;
    opacity: 0.6;
    outline:none;
}
.countByte {
	margin-left: 48px;
    font-size: 16px;
}
.content-Btn > p {
	display: inline-block;
	font-size: 16px;
}
.countByte-warning {
	display: none;
	float: left;
	margin-left: 12px;
	color: red;
	font-size: 16px;
	font-weight: bold;
}

/* ~~~~~카드 내용 */

.content-textarea.reply{/* 댓글textarea */
	resize: none;
	width: 551px;
	height: 50px;
	background: white;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.content-textarea.reply.modify{
	width: 450px;
}
.saveBtn.reply{/* save버튼 */
	margin: 4px 2px 4px 10px!important;
	background-color: #bdbdbd61;
	transition: 0.1s!important;
}
.saveBtn.reply.modify{
	background-color: #5aac44;
}

/* 댓글 목록 */
.activity-content{
	margin: 12px 0 0 10px;
}
.replyArea{ /* 전체 댓글영역 */
	float: left;
	margin: 7px 0;
}
.replyArea > img,
.popupCardProfile > img { /* 작성자 프로필사진 */
    position: relative;
    border-radius: 20px;
}
.replyArea > img{
	width: 45px;
    height: 45px;
	float: left;
}
.reply-commentArea { /* 닉네임, 댓글내용 영역 */
    width: 492px;
    position: relative;
    float: left;
    margin-left: 10px;
    border-bottom: solid 0.5px #D8D8D8;
}
.replyArea:last-child > .reply-commentArea{
	border: none;
}
.reply-info { /* 닉네임, 작성날짜 */
	width: 100%;
    position: relative;
    float: left;
    font-size: 14px;
    padding: 3px 0;
}
.reply-info > p {
    display: inline-block;
    position: relative;
}
.reply-cdate, .edited{
	color: #a9a9a9;
}
.edited{
	margin-left: 3px;
	text-decoration: underline;
}
.replyBtn.reply{
	float: right;
}
.replyModifyBtn, .replyDeleteBtn{/* 수정, 삭제버튼 */
	border: none;
	background-color: #edeff0;
	cursor: pointer;
	color: #a9a9a9;
	font-size: 15px;
	outline: none;
}
.reply-content { /* 댓글 내용 */
    display: block;
    padding: 6px 0;
    margin-bottom: 10px;
    clear: left;
    word-wrap: break-word;
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-size: 15px;
    line-height: 1.2em;
}
/* 삭제 모달 */
.closeBoardModal.reply{ 
	left: 320px;
}
.closeBoardModal-content.reply{
	width: 262px;
	height: 131px;
}
.closeBoardBtn.reply{
	height: 35px;
	margin-left: 11px;
}
.closeBoardModal-text.reply{
	line-height: 1.2em;
}
	
	
/* 오른쪽 | 사이드메뉴 */
/* dropdown 메뉴 title */
.popupCard-aside {
	display: none;
    position: absolute;
    float: right;
    width: 136px;
    padding: 5px 7px;
    top: 97px;
    right: 11px;
    background-color: #ffffff;
    border-radius: 1px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 
        		0 1px 2px rgba(0,0,0,0.24);
}
.popupCard-aside > div {
	margin-left: 5px;
}
.closeModal.dropdown {
    position: absolute;
    float: right;
	top: 0;
    right: 0;
    margin-right: 5px;
    line-height: 28px;
    font-size: 32px;
}
.popupCard-aside ul, .popupCard-aside ul li {
    margin-top: 6px;
}
.popupCard-aside ul li div {
    text-align: left;
    background-color: rgb(226, 228, 230);
    padding: 6px;
    border-radius: 1px;
    cursor: pointer;
    box-shadow: 1px 1px 3px 0px #B5B5B5;
    -webkit-box-shadow: 1px 1px 3px 0px #B5B5B5;
    -moz-box-shadow: 1px 1px 3px 0px #B5B5B5;
    -o-box-shadow: 1px 1px 3px 0px #B5B5B5;
}
.popupCard-aside ul li div:hover, .file:hover, 
.popup-profile:hover, .comment-attachment:hover {
    background-color: rgb(204, 205, 206);
    box-shadow: 1px 1px 3px 0px #919191;
    -webkit-box-shadow: 1px 1px 3px 0px #919191;
    -moz-box-shadow: 1px 1px 3px 0px #919191;
    -o-box-shadow: 1px 1px 3px 0px #919191;
}
.popupCard-aside ul li div:active {
    background-color: rgb(159, 161, 161);
    color: white;
}
.popupCard-aside ul li p{
    display: inline-block;
    padding-left: 10px;
    font-size: 13px;
}