<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.linker.mapper.CardlistMapper">
	
	<!-- 카드리스트 생성 -->
	<!-- useGeneratedKeys = true(기본값 false), keyProperty를 이용하면 
			auto_increment - 자동생성되는 값을 넘겨줄 수 있음-->
	<insert id="createCardlist" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO linker.cardlist (p_id, u_id, title)
		VALUES (#{p_id}, #{u_id}, #{title})
	</insert>
	
	<!-- 카드리스트 수정 -->
	<update id="updateCardlist">
		UPDATE linker.cardlist cl
		<set>
			<if test="cl_title != null">cl.title = #{cl_title}</if>
			<if test="cl_ps_id != 0 and cl_ps_id != null">cl.ps_id = #{cl_ps_id}</if>
		</set>
		WHERE cl.id = #{cl_id}
	</update>
		
	<!-- 진행 상태(ps_id = 1)인 모든 카드리스트와 카드 조회 -->
	<select id="readCardlistAll" resultType="ReadCardlistVO">
		SELECT
			cl.p_id
			, cl.id AS cl_id
			, cl.u_id AS cl_u_id
			, cl.title AS cl_title
			, cl.cdate AS cl_cdate
			, cl.udate AS cl_udate
			, cl.ps_id AS cl_ps_id
			, c.id AS c_id
			, c.u_id AS c_u_id
			, c.title AS c_title
			, CASE
	            WHEN c.content IS NULL THEN 0
	            WHEN c.content = '' THEN 0
	            ELSE 1
	            END AS content
			, c.cdate AS c_cdate
			, c.udate AS c_udate
			, c.ps_id AS c_ps_id
			, uhc.status
			, uhc.u_id AS uhc_u_id
            , reply
            , file
		FROM linker.cardlist cl
		LEFT JOIN linker.card c ON cl.id = c.cl_id
		LEFT JOIN linker.user_has_card uhc ON cl.p_id = uhc.p_id AND c.id = uhc.c_id
        LEFT JOIN (SELECT c_id, count(*) AS reply
					FROM linker.c_reply
					GROUP BY c_id) AS r ON c.id = r.c_id
		LEFT JOIN (SELECT c_id, count(*) AS file
					FROM linker.c_file
					GROUP BY c_id) AS f ON c.id = f.c_id
	    WHERE cl.p_id = #{p_id}
	    AND cl.ps_id = 1
	    ORDER BY c_id ASC
    	<!-- 카드가 없는 카드리스트도 조회해야 하기 때문에 c.ps_id IS NULL 조건을 부여함 -->
	</select>
	
	<!-- 상태값에 따른 카드리스트 조회 -->
	<select id="listCardlist" resultType="cardlistVO">
		SELECT
			id
			, p_id
			, u_id
			, title
			, ps_id
			, udate
		FROM linker.cardlist
		WHERE ps_id = #{ps_id}
		AND p_id = #{p_id}
		ORDER BY udate DESC
	</select>
</mapper>