<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.linker.mapper.cardMapper">

	<!-- 카드 생성 -->
		<!-- 생성은 카드 제목(title)만 입력하는 것. 내용(content)에 대한 것은 '수정'으로 처리한다. -->
		<!-- 자동생성된 id값을 가져오기 위해 useGeneratedKeys를 true로 설정. -->
	<insert id="createCard" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO linker.card (title, u_id, cl_id)
		VALUES (#{title}, #{u_id}, #{cl_id})
	</insert>
	
	
	<!-- 카드 수정(제목, 내용 수정) -->
	<update id="updateCard">
		UPDATE linker.card
		<set>
			<if test="title != null">title = #{title}</if>
			<if test="content != null">content = #{content}</if>
		</set>
		WHERE id = #{id}	
	</update>
	
	
	<!-- 카드 수정(상태 변경) -->
	<update id="updateCardStatus">
		UPDATE linker.card c
		INNER JOIN linker.cardlist cl ON cl.id = c.cl_id
		<set>
			<if test="ps_id != 0">c.ps_id = #{ps_id}</if>
		</set>
		WHERE c.id = #{id}
	</update>
	
	
	<!-- 상태값에 따른 카드 조회 -->
	<select id="statusCardList" resultType="ReadCardlistVO">
		SELECT
			c.id AS c_id
			, c.u_id AS c_u_id
			, c.title AS c_title
			, CASE
	            WHEN c.content IS NULL THEN 0
	            WHEN c.content = '' THEN 0
	            ELSE 1
	            END AS content
			, c.cdate AS c_cdate
			, c.udate AS c_udate
			, c.cl_id 
			, c.ps_id AS c_ps_id
			, cl.p_id 
			, uhc.status
            , reply
            , file
		FROM linker.card c
		INNER JOIN linker.cardlist cl ON c.cl_id=cl.id
		LEFT JOIN linker.user_has_card uhc ON cl.p_id = uhc.p_id AND c.id = uhc.c_id
        LEFT JOIN (SELECT c_id, count(*) AS reply
					FROM linker.c_reply
					GROUP BY c_id) AS r ON c.id = r.c_id
		LEFT JOIN (SELECT c_id, count(*) AS file
					FROM linker.c_file
					GROUP BY c_id) AS f ON c.id = f.c_id
		WHERE cl.p_id = #{p_id}
		AND c.ps_id = #{ps_id}
		ORDER BY c.udate DESC
	</select>
	
	
	<!-- 특정 카드리스트에 대한 진행상태의 카드 목록 -->
	<select id="listCards" resultType="ReadCardlistVO">
		SELECT
			c.id AS c_id
			, c.u_id AS c_u_id
			, c.title AS c_title
			, CASE
	            WHEN c.content IS NULL THEN 0
	            WHEN c.content = '' THEN 0
	            ELSE 1
	            END AS content
			, c.cdate AS c_cdate
			, c.udate AS c_udate
			, c.cl_id 
			, c.ps_id AS c_ps_id
			, cl.p_id
			, uhc.status
            , reply
            , file
		FROM linker.card c
		INNER JOIN linker.cardlist cl ON c.cl_id=cl.id
		LEFT JOIN linker.user_has_card uhc ON cl.p_id = uhc.p_id AND c.id = uhc.c_id
        LEFT JOIN (SELECT c_id, count(*) AS reply
					FROM linker.c_reply
					GROUP BY c_id) AS r ON c.id = r.c_id
		LEFT JOIN (SELECT c_id, count(*) AS file
					FROM linker.c_file
					GROUP BY c_id) AS f ON c.id = f.c_id
		WHERE cl.p_id = #{p_id}
		AND c.cl_id = #{cl_id}
		AND c.ps_id = 1
		ORDER BY c_id ASC
	</select>
	
	<!-- 카드 상세내용 조회(카드모달창에 나오는 내용들) -->
	<select id="readPopcard" resultType="CardVO">
		SELECT
			c.id
			, c.u_id
			, c.title
			, c.content
			, CASE
	            WHEN c.content IS NULL THEN 0
	            WHEN c.content = '' THEN 0
	            ELSE 1
	            END AS checkContent
			, c.cdate
			, c.udate
			, c.cl_id
			, c.ps_id
			, cl.p_id
			, cl.ps_id AS cl_ps_id
            , u.nickname
            , u.profile
            , uhc.status
            , reply
            , file
		FROM linker.card c
		INNER JOIN linker.cardlist cl ON c.cl_id = cl.id
		INNER JOIN linker.user u ON c.u_id = u.id
        LEFT JOIN linker.user_has_card uhc ON c.id = uhc.c_id
        LEFT JOIN (SELECT c_id, count(*) AS reply
					FROM linker.c_reply
					GROUP BY c_id) AS r ON c.id = r.c_id
		LEFT JOIN (SELECT c_id, count(*) AS file
					FROM linker.c_file
					GROUP BY c_id) AS f ON c.id = f.c_id
		WHERE c.id = #{id}
	</select>
	
	
	<!-- 첨부파일 조회 -->
	<select id="allAttach" resultType="CardAttachVO">
		SELECT 
			f.id
			, f.file
			, f.c_id
			, c.ps_id
			, f.cdate
			, f.size
		FROM linker.c_file f
		LEFT JOIN linker.card c ON f.c_id = c.id
		WHERE c_id = #{c_id}
		ORDER BY f.cdate DESC
	</select>
	
	<!-- 첨부파일 업로드 -->
	<insert id="addAttach">
		INSERT INTO linker.c_file(file, c_id, size)
		VALUES (#{file}, #{c_id}, #{size})
	</insert>
	
	<!-- 첨부파일 삭제 -->
	<delete id="deleteAttach">
		DELETE FROM linker.c_file
		WHERE file = #{file}
	</delete>
	
	
	<!-- 즐겨찾기 추가 -->
	<insert id="favoriteCard">
		INSERT INTO linker.user_has_card(u_id, t_id, p_id, cl_id, c_id)
		VALUES (#{u_id}, #{t_id}, #{p_id}, #{cl_id}, #{c_id})
	</insert>
	
	<!-- 즐겨찾기 조회 -->
	<select id="allFavorite" resultType="ReadCardlistVO">
		SELECT c.id AS c_id
			, c.u_id AS c_u_id
			, c.title AS c_title
			, c.cdate AS c_cdate
			, c.cl_id
			, c.ps_id AS c_ps_id
			, cl.p_id
			, CASE
	            WHEN c.content IS NULL THEN 0
	            WHEN c.content = '' THEN 0
	            ELSE 1
	            END AS content
            , uhc.status
            , reply
            , file
		FROM linker.user_has_card AS uhc
		JOIN linker.card AS c ON uhc.c_id = c.id
		JOIN linker.cardlist AS cl ON uhc.cl_id = cl.id
        LEFT JOIN (SELECT c_id, count(*) AS reply
					FROM linker.c_reply
					GROUP BY c_id) AS r ON c.id = r.c_id
		LEFT JOIN (SELECT c_id, count(*) AS file
					FROM linker.c_file
					GROUP BY c_id) AS f ON c.id = f.c_id
		WHERE uhc.u_id = #{u_id} 
		AND uhc.p_id = #{p_id}
		AND c.ps_id = 1
		ORDER BY uhc.cdate ASC
	</select>
	
	<!-- 즐겨찾기 삭제 -->
	<delete id="cardFavoriteDelete">
		DELETE FROM linker.user_has_card 
		WHERE u_id = #{u_id} 
		AND c_id = #{c_id}
	</delete>
	
</mapper>