<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.linker.mapper.cardMapper">

	<!-- 카드 생성 -->
	<!-- 생성은 카드 제목(title)만 입력하는 것. 내용(content)에 대한 것은 '수정'으로 처리한다. -->
	<insert id="createCard">
		INSERT INTO card (title, u_id, cl_id)
		VALUES(#{title}, #{u_id}, #{cl_id})
	</insert>
	
	<!-- 카드 조회 -->
	<!-- 팝업카드 조회 -->
	<select id="readCard" resultType="com.linker.domain.CardVO">
		SELECT
			c.id, cl.p_id, c.u_id, c.title, c.content, c.cdate, c.udate, c.cl_id, c.ps_id
		FROM
			card c
		INNER JOIN
			cardlist cl
		ON
			c.cl_id=cl.id
		WHERE c.id=#{c.id}	
	</select>
	
	<!-- 카드 수정(내용 변경, 상태변경(달성, 가리기)) -->
	<update id="updateCard">
		UPDATE card
		<set>
			<if test="title != null">title=#{title},</if>
			<if test="content != null">content=#{content},</if>
			<if test="ps_id != 0">ps_id=#{ps_id}</if>
		</set>
		WHERE id=#{id}	
	</update>
	
	<!-- 전체 카드 리스트 조회 -->
	<!-- 3개의 테이블 JOIN : card, cardlist, project테이블 join하여 card테이블에서 프로젝트id와 title 가져올 수 있도록 함 -->
	<select id="listCard" resultType="CardVO">
		SELECT
			c.id, c.u_id, c.title, c.content, c.cdate, c.udate, c.ddate, c.cl_id, c.ps_id, cl.p_id
		FROM 
			card c
		INNER JOIN
			cardlist cl
		ON
			c.cl_id=cl.id
		WHERE p_id=#{p_id}
		ORDER BY id;
	</select>
	
	<select id="readPopcard" resultType="CardVO">
		SELECT
			c.id, cl.p_id, c.u_id, c.title, c.content, c.cdate, c.udate, c.cl_id, c.ps_id
		FROM
			card c
		INNER JOIN
			cardlist cl
		ON
			c.cl_id=cl.id
		WHERE c.id=#{id}	
	</select>
	
</mapper>