<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linker.mapper.searchMapper">
<!-- 달성/가리기 탭에서 카드검색 -->	
	<!-- 달성 탭에서 카드 출력 -->
	<select id="n_searchArchiveCard" resultType="CardVO">
	SELECT 
		c.id
		, c.u_id
		, c.title
		, c.content
		, c.cdate
		, c.udate
		, c.cl_id
		, c.ps_id
		, cl.p_id
	FROM linker.card AS c
	JOIN linker.cardlist AS cl ON cl.id = c.cl_id
	WHERE cl.p_id=#{p_id}
	AND c.ps_id = 2
	AND ( c.title LIKE CONCAT ('%', #{keyword}, '%')
		  OR c.content LIKE CONCAT ('%', #{keyword}, '%')
		  OR c.cdate like CONCAT ('%', #{keyword}, '%') 
		)
	ORDER BY c.cdate desc
	</select>
	 
	 <!-- 달성 탭에서 카드 출력 -->
	<select id="e_searchArchiveCard" resultType="CardVO">
	SELECT 
		c.id
		, c.u_id
		, c.title
		, c.content
		, c.cdate
		, c.udate
		, c.cl_id
		, c.ps_id
		, cl.p_id
	FROM linker.card AS c
	JOIN linker.cardlist AS cl ON cl.id = c.cl_id
	WHERE cl.p_id=#{p_id}
	AND c.ps_id = 2
	AND ( c.title LIKE CONCAT ('%', #{keyword}, '%')
		  OR c.content LIKE CONCAT ('%', #{keyword}, '%')
		)
	ORDER BY c.cdate desc
	</select>
	
	<!-- 가리기 탭에서 카드 출력 -->
	<select id="n_searchHideCard" resultType="CardVO">
	SELECT
		c.id
		, c.u_id
		, c.title
		, c.content
		, c.cdate
		, c.udate
		, c.cl_id
		, c.ps_id
		, cl.p_id
	FROM linker.card AS c
	JOIN linker.cardlist AS cl ON cl.id = c.cl_id
	WHERE cl.p_id=#{p_id}
	AND c.ps_id = 3
	AND ( c.title LIKE CONCAT ('%', #{keyword}, '%')
		  OR c.content LIKE CONCAT ('%', #{keyword}, '%')
		  OR cdate LIKE CONCAT ('%', #{keyword}, '%')
		)
	ORDER BY c.cdate desc
	</select>
	
	<!-- 가리기 탭에서 카드 출력 -->
	<select id="e_searchHideCard" resultType="CardVO">
	SELECT
		c.id
		, c.u_id
		, c.title
		, c.content
		, c.cdate
		, c.udate
		, c.cl_id
		, c.ps_id
		, cl.p_id
	FROM linker.card AS c
	JOIN linker.cardlist AS cl ON cl.id = c.cl_id
	WHERE cl.p_id=#{p_id}
	AND c.ps_id = 3
	AND ( c.title LIKE CONCAT ('%', #{keyword}, '%')
		  OR c.content LIKE CONCAT ('%', #{keyword}, '%')
		)
	ORDER BY c.cdate desc
	</select>
	
<!-- 달성/가리기 탭에서 카드리스트 검색  -->
	<!-- keyword가 영숫자인경우. 달성 탭에서 카드리스트 출력/ 진행 상태(ps_id = 2)인 모든 카드리스트와 카드 조회 -->
	<select id="n_searchArchiveCardlist" resultType="CardlistVO">
		SELECT
		id
		, p_id
		, u_id
		, title
		, ps_id
		, udate
		FROM linker.cardlist
		WHERE p_id = #{p_id}
		AND ps_id = 2
		AND ( title LIKE CONCAT ('%',#{keyword}, '%')
			OR cdate LIKE CONCAT ('%', #{keyword}, '%')
		)
		ORDER BY udate DESC;
	</select>
	
	<!-- keyword가 한글이 들어간 경우. 달성 탭에서 카드리스트 출력/ 진행 상태(ps_id = 2)인 모든 카드리스트와 카드 조회 -->
	<select id="e_searchArchiveCardlist" resultType="CardlistVO">
		SELECT
		id
		, p_id
		, u_id
		, title
		, ps_id
		, udate
		FROM linker.cardlist
		WHERE p_id = #{p_id}
		AND ps_id = 2
		AND title LIKE CONCAT ('%',#{keyword}, '%')
		ORDER BY udate DESC;
	</select>
	
	<!-- keyword가 한글이 없는 경우. 가리기 탭에서 카드리스트 출력/ 진행 상태(ps_id = 1)인 모든 카드리스트와 카드 조회 -->
	<!-- 카드가 없는 카드리스트도 조회해야 하기 때문에 c.ps_id IS NULL 조건을 부여함 -->
	<select id="n_searchHideCardlist" resultType="CardlistVO">
		SELECT
			id
			, p_id
			, u_id
			, title
			, ps_id
			, udate
		FROM linker.cardlist
		WHERE p_id = #{p_id}
		AND ps_id = 3
		AND ( title LIKE CONCAT ('%', #{keyword}, '%')
		  OR cdate LIKE CONCAT ('%', #{keyword}, '%') 
		)
		ORDER BY udate DESC    
	</select>

	<!-- keyword가 한글이 들어간 경우. 가리기 탭에서 카드리스트 출력/ 진행 상태(ps_id = 1)인 모든 카드리스트와 카드 조회 -->
	<!--     카드가 없는 카드리스트도 조회해야 하기 때문에 c.ps_id IS NULL 조건을 부여함 -->
	<select id="e_searchHideCardlist" resultType="CardlistVO">
		SELECT
			id
			, p_id
			, u_id
			, title
			, ps_id
			, udate
		FROM linker.cardlist
		WHERE p_id = #{p_id}
		AND ps_id = 3
		AND ( title LIKE CONCAT ('%', #{keyword}, '%')
		)
		ORDER BY udate DESC
	</select>

<!-- 팀 리스트 검색-->
	<!-- 검키워드에 해당하는 멤버들을 출력, 색에 대한 멤버 결과를 가져오는 쿼리 -->	
	<select id="searchMember" resultType="TeamMemberVO">
	SELECT thu.t_id, thu.auth, t.name, thu.status, t.cdate
    FROM linker.user AS u 
    JOIN linker.team_has_user AS thu ON u.id=thu.u_id 
    JOIN linker.team AS t ON thu.t_id = t.id    
    WHERE thu.status = 1
    AND
    thu.t_id IN (
     SELECT thu.t_id 
     FROM linker.team_has_user AS thu
     WHERE thu.u_id=#{u_id}
     )
    AND u.nickname LIKE CONCAT('%', #{keyword} , '%')
	GROUP BY thu.t_id;
	</select>
</mapper>
