<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linker.mapper.teamMapper">

	<!-- 새로운 team 생성 -->
	<insert id="createTeam">
		INSERT INTO team(name) VALUES( #{name});
	</insert>

	<!-- team수정(이름) /그 팀에서 권한이 0인 user만 가능-->
	<update id="modifyTeam">
		UPDATE team t
		SET t.name = #{name}
		WHERE id = #{t_id}
	</update>
	
	<!-- team 목록 출력 -->
	<select id="listTeam" resultType="TeamVO">
		SELECT u_id, t_id, team.name, team.cdate, auth
		FROM team_has_user 
		JOIN team ON team.id=t_id
		WHERE u_id=#{u_id}
	</select>
	
	<!-- team id 출력 -->
	<select id="selectTeam" resultType="int">
		SELECT id
		FROM team
		WHERE name=#{name}
	</select>
	
	<!-- team 삭제 /그 팀에서 권한이 0인 user만 가능-->
	<delete id="deleteTeam">
		DELETE FROM team
		WHERE id = #{t_id}
	</delete>
	
	
</mapper>