<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <!-- 작성자  : 김소영 -->
 
<mapper namespace="com.linker.mapper.teamMapper">
	
	<!-- 새로운 team 생성 -->
	<insert id="createTeam" keyColumn="id" keyProperty="id" useGeneratedKeys="true" >
 		INSERT INTO linker.team(name) VALUES(#{name})
 	</insert>

	<!-- team수정(이름) /그 팀에서 권한이 0인 user만 가능-->
	<update id="modifyTeam">
		UPDATE linker.team AS t
		SET t.name = #{name}
		WHERE id = #{t_id}
	</update>
	
	<!-- team 정보 출력/ t_id를 통해서 team 정보 출력/ emailConfirm을 가져올 때 사용 -->
	<select id="infoTeam" resultType="TeamVO">
		SELECT 
			id
			, name
			, cdate
		FROM linker.team
		WHERE id=#{t_id}
	</select>
	
	<!-- team 목록 출력 -->
	<select id="listTeam" resultType="TeamVO">
		SELECT 
			u_id
			, t_id
			, t.name
			, t.cdate
			, auth
 		FROM linker.team_has_user AS thu
 		JOIN linker.team AS t ON t.id=thu.t_id
		WHERE u_id=#{u_id} 
		AND thu.status = 1
		AND t.status = 0
	</select>
	
	<!-- team 삭제 /그 팀에서 권한이 0인 user만 가능-->
	<update id="deleteTeam" keyColumn="id" keyProperty="id" useGeneratedKeys="true" >
		UPDATE linker.team AS t
		SET t.status = 1
		WHERE t.id = #{t_id}
	</update>
</mapper>